<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-12">
            <i data-feather="log-in"></i> <span style="font-size:20px">ShowFinder</span>
            <hr class="light">
            <p>969-006-6141</p>
            <p>ShowFinder@Us.com</p>
            <p>241 Hillside Court</p>
            <p>New York City, United States, 14045</p>
            <hr class="light">
            <h5>&copy; ShowFinder.com</h5>
        </div>
    </div>
</div>