@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

.invisible {
  display: none;
}

/*navbar*/
.navbar {
    padding: .8rem 1rem;
    /* shadows */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar ul {
  padding-left: 120px;
}

.navlink {
    font-size: 1.1em !important;
}

.navbar-brand {
    font-size: 21px !important;
    font-weight: 500;
}

#abouttext {
  padding-left: 0;
  color: #0275d8;
}

#text-search {
  background-color: white;
}

/*carousel*/
.carousel-inner img {
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-10vw);
}

.carousel-caption h1 {
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.5vw 0.5vw 0.5vw #000;
}

.carousel-caption-h3 {
    font-size: 3vw;
    font-weight: 550;
    text-shadow: 0.2vw 0.2vw #000;
    padding-bottom: 0.75vw;
}

.carousel-caption .btn-primary { 
    background: #0275d8;
    border-color: #001c9b;
    border-width: 0.15vw;
    height: 4.5vw;
    width: 15vw;
    font-size: 2vw;
    text-align: center;
    padding: 0.5vw 1vw;
}

.carousel-caption .btn-primary a {
    color: #fafafa;
}
  
 .carousel-caption .btn-primary:hover { 
    background: #001c9b;
  }

  /* -info.html sidebar*/
#sticky-sidebar {
  padding-right: 8vw;
  order: 2;
}

.info-sidebar-title {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.flex-column {
  padding-top: 6vw;
  margin-right: 2vw;
}

/* creator img */
#logo {
  position: flex;
  display: flex; /* add */
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
}

#creator-image {
  object-fit: contain;
  width: 400px;
  height: 300px;
}

#info-disclaimer {
  padding-top: 2vw;
}

  /*text and divider*/
  .display-4 {
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin: 0px auto;
  }

  .display-3 {
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin: 0px auto;
  }

  #info-main {
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    order: 1;
}

#info-type {
    font-size: 1em;
    font-weight: 400;
    color: royalblue;
    padding-bottom: 0em;
    padding-left: 3px; /* fix weird alignment issue */
}

.info-main-text {
    text-align: justify;
}

#info-title-text {
    padding-top: -4em;
    padding-bottom: 12px;
    margin-top: -0.4em;
}

#info-poster-main-img { /*img poster*/
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    border-radius: 12px;
}

.info-subheading-text {
    font-weight: 600;
    padding-bottom: 0.3em;
}

.info-place-text {
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.info-sub-text {
    font-weight: 450;
    color: grey;
    text-align: justify;
}

#price-text {
    font-weight: 200;
    color: grey;
    font-size: 15px;
}

#price-amount {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    color: crimson;
    font-size: 25px;
}

  .divider1 {
    border-color: white;
    width: 95%;
    margin-top: 5vw;
    margin-bottom: -2vw;
  }

  .divider2 {
    border-color: white;
    width: 95%;
    margin-top: 2 vw;
    margin-bottom: -2vw;
  }

  .divider-dark {
    border-color: #222;
    border-width: 1px;
    width: 95%;
    margin-top: 2vw;
    margin-bottom: -2vw;
  }

  .divider-invisible {
    border-color: white;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

.divider-main {
    width: 100%;
}

.divider-sidebar {
    width: 29vw;
}

  .welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: -0.5vw;
    padding-bottom: 1vw;
  }

  .more-place {
    color: rgb(160, 160, 160);
  }

  #display-4-entertainment {
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 50px;
    font-weight: 300
  }

  /*footer*/
  footer {
    background-color: #0275d8 ;
    color: #fafafa;
    margin-top: 3vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
  }

  hr.light {
    border-top: 1px solid #fafafa;
    width: 95%;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  footer p {
    font-size: 1em;
  }

  footer h5 {
    margin-top: 1vw;
    margin-bottom: -1vw;
  }

  /* buy page */
.tickets-title {
  padding-top: 3vw;
  padding-bottom: 1vw;
}

.tickets-batch {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.individual-tickets {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* google map embeds */
.google-map-link {
  padding-bottom: 10px;
}

.map-container-2{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container-2 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
} 


/* buy-page.html */
.event-title-div {
  padding-top: -10px;
}

.event-title {
  padding-left: 12.5px;
  font-size: 40px;
  font-weight: 300;
}

/* hide and show */
.displayBlock {
  display: none !important;
}

.show {
  display: block !important;
}

  /*about.html*/
  .about-heading {
    background-image: url("img/tentative-about-heading-1.gif");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    word-wrap: break-word;  
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 12px 12px 12px #999;
    box-shadow: 0 12px 6px -6px #999;
  }

  #display-about-logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0vw 0vw 0.5vw #000, 0.5vw 0.5vw 0.5vw #000; 
    padding-top: 120px;
  }

  #display-about-logo h1 {
    font-weight: 600;
    font-size: 128px;
  }

  .about-main {
    padding-top: 100px;
    margin-bottom: 60px;
    padding-bottom: 50px;
  }

  .about-additional {
    padding-top: 100px;
    padding-bottom: 120px;
    
  }

  .about-additional h2 {
    padding-bottom: 10px;
  }

  .about-additional span {
    color: #0275d8;
  }

  .about-team {
    background-color: rgb(245, 245, 245);
    padding-bottom: 50px;
    
  }

  .socials {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa {
    padding: 20px;
    margin: 5px 5px;
  }

  .fa:hover {
    opacity: 0.6;
    color: white;
    text-decoration: none;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #bc2a8d;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }.fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }

  /* checkout.html */
  #billing-container {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .displayBlock { /* hide and display events */
    padding: 20px;
    display: none !important;
  }

  .displayDate { /* hide and display events */
    display: none;
  }

  .show {
    display: block !important;
  }

  .price-amount { /* text */
    margin-top: 7px;
    margin-bottom: 10px;
    font-weight: 600;
    color: crimson;
    font-size: 20px;
  }

  .product-name {
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
  }

  .creator-name {
    font-weight: 450;
    color: dimgrey;
    text-align: justify;
  }

  .sub-text {
    font-weight: 500;
    color: grey;
    text-align: justify;
  }

  /* search.html */
  .displayEmpty { /* hide and display events */
    display: none !important;
  }

  ul#search-results {
    list-style-type: none; /* remove bullets */
  }

  #search-results li {
    padding: 12px;
  }

  #search-results .container {
    padding: 20px 25px 10px 25px;
  }

  #search-results .container:hover {
    background-color: #f5f5f5;
  }

  #search-results h5 {
    color: black;
    font-weight: 600;
    font-size: 30px;
    text-align: justify;
  }

  #search-results a {
    text-decoration: none;
  }

  #search {
    width: 67%;
  }

  .emptyText {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* browser size */
@media only screen and (max-width: 992px) {
  #display-about-logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0vw 0vw 0.5vw #000, 0.5vw 0.5vw 0.5vw #000; 
    padding-top: 60px;
  }
  
  .navbar ul {
    padding-left: 13px;
  }
}

@media only screen and (max-width: 768px) {
  #display-about-logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0vw 0vw 0.5vw #000, 0.5vw 0.5vw 0.5vw #000; 
    padding-top: 60px;
  }

  .flex-column {
      padding-top: 15vw;
  }

  .tickets-title {
      padding-top: 4vw;
      padding-bottom: 1vw;
  }

  .navbar ul {
      padding-left: 13px;
    }
}

@media only screen and (max-width: 485px) {
  #display-about-logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0vw 0vw 0.5vw #000, 0.5vw 0.5vw 0.5vw #000; 
    padding-top: 60px;
  }

  #display-about-logo h1 {
    font-weight: 600;
    font-size: 110px;
  }

  .navbar ul {
    padding-left: 13px;
  }

  .flex-column {
    padding-top: 15vw;
}

.tickets-title {
    padding-top: 4vw;
    padding-bottom: 1vw;
}

.navbar ul {
  padding-left: 13px;
}

}

@media only screen and (max-width: 421px) {
  .flex-column {
      padding-top: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      width: 90vw;
      position: absolute;
      padding-bottom: 10vw;
      margin-right: 100px;
  }

  .flex-column .info-sub-text {
      font-weight: 450;
      color: grey;
      text-align: center;
  }

  .divider-sidebar {
      width: 100%;
  }

  .tickets-title {
      padding-top: 6vw;
      padding-bottom: 1vw;
  }

  #info-poster-main-img {
      width: 100%;
      height: 130vw;
      border-radius: 12px;
  }

  .navbar ul {
      padding-left: 13px;
    }
}

@media only screen and (max-width: 406px) {
  .flex-column {
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    width: 90vw;
    position: absolute;
    padding-bottom: 10vw;
    margin-right: 100px;
}

.flex-column .info-sub-text {
    font-weight: 450;
    color: grey;
    text-align: center;
}

.divider-sidebar {
    width: 100%;
}

.tickets-title {
    padding-top: 6vw;
    padding-bottom: 1vw;
}

#info-poster-main-img {
    width: 100%;
    height: 130vw;
    border-radius: 12px;
}

  .carousel-caption-h3 {
    margin-bottom: -1.5vw;
    font-size: 3vw;
    font-weight: 550;
    text-shadow: 0.2vw 0.2vw #000;
    padding-bottom: 0.75vw;
  }

  #display-about-logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0vw 0vw 0.5vw #000, 0.5vw 0.5vw 0.5vw #000; 
    padding-top: 60px;
  }

  #display-about-logo h1 {
    font-weight: 600;
    font-size: 100px;
  }

  .navbar ul {
    padding-left: 13px;
  }
  
}

@media only screen and (max-width: 372px) {
  .flex-column {
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    width: 90vw;
    position: absolute;
    padding-bottom: 10vw;
    margin-right: 100px;
}

.flex-column .info-sub-text {
    font-weight: 450;
    color: grey;
    text-align: center;
}

.divider-sidebar {
    width: 100%;
}

.tickets-title {
    padding-top: 6vw;
    padding-bottom: 1vw;
}

#info-poster-main-img {
    width: 100%;
    height: 130vw;
    border-radius: 12px;
}

  .carousel-caption-h3 {
    margin-bottom: -1.5vw;
    font-size: 3vw;
    font-weight: 550;
    text-shadow: 0.2vw 0.2vw #000;
    padding-bottom: 0.75vw;
  }

  #display-about-logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0vw 0vw 0.5vw #000, 0.5vw 0.5vw 0.5vw #000; 
    padding-top: 70px;
  }

  #display-about-logo h1 {
    font-weight: 600;
    font-size: 90px;
  }

  .navbar ul {
    padding-left: 13px;
  }
}