<!DOCTYPE html>
<html>
    <head>
        <title>Sword Art Online Progressive Movie | ShowFinder</title>
        <%- include('../../partials/_head.ejs') %>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <%- include('../../partials/_nav.ejs') %>
        </nav>

            <div class="container-fluid padding">
                <div class="row py-3">
                    <!-- sticky sidebar -->
                    <div class="col-4 order-2 mx-1" id="sticky-sidebar">
                        <div class="sticky-top">
                            <div class="nav flex-column" style="padding-top: 70px; padding-bottom: 30px; padding-left: 20px; padding-right: 6vw;">
                                <h3 class="info-sidebar-title">Sword Art Online Progressive</h3>
                                <p class="info-sub-text">By Ayako Kōno</p>
                                <p class="info-place-text">CITY</p>
                                <span class="info-sub-text">DKI Jakarta, Indonesia</span>
                                <hr class="divider-sidebar">
                                <span class="info-main-text">Location</span>
                                <span class="info-sub-text">Central Park, Jl. Letjen S. Parman No.28, Tj. Duren Sel., Kec. Grogol petamburan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11470</span>
                                <hr class="divider-sidebar">
                                <p class="info-main-text">Schedule</p>
                                <span class="info-sub-text">1 Jan 2022 - 22 Jan 2022</span>
                                <hr class="divider-sidebar">
                                <span class="info-main-text" id="price-text">PRICE</span>
                                <h6 id="price-amount">$3.59 - $3.92</h6>
                                <a href="/buy?item=11">
                                    <button type="button" class="btn btn-primary btn-lg" id="buy-ticket-button" disabled>This Event Has Already Ended</button> 
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- main -->
                    <div class="col" id="info-main">
                        <p id="info-type">Entertainment</p>
                        <h1 class="display-4" id="info-title-text">Sword Art Online Progressive</h1>
                        <!--image -->
                        <img src="../img/poster-sao.png" alt="Sao" class="img-fluid" id="info-poster-main-img">
                        <hr class="divider-invisible">
                        <!-- show desc. -->
                        <h3 class="info-subheading-text">Description</h3>
                        <p class="info-main-text">The film depicts the story of the encounter between Kirito and Asuna, covering the events on Aincrad's first floor, in particular Asuna's initial struggle to cope with the realities of her new world. Excelling socially and academically, Asuna Yuuki is on track to ace her high school entrance exams. Her friend and classmate, Misumi "Mito" Tozawa, advises her to take a short break from studying and join her on the launch day of Sword Art Online (SAO)—the highly anticipated online virtual reality multiplayer game. Asuna accepts her offer and soon meets her in the game.</p>
                        <p class="info-main-text">In a cruel twist of fate, Asuna, Mito, and every other player logged into SAO find themselves trapped in the game permanently. The only way out is to clear all one hundred floors of the game, and to make matters worse, dying inside the game will kill the player in real life. With SAO now turned into a nightmare death trap, Asuna and other gamers—such as the lone swordsman Kazuto "Kirito" Kirigaya—must adapt and survive, all whilst attempting to beat the unforgiving competition to the top.</p>
                        <hr class="divider-main">
                        <h3 class="info-subheading-text">Location</h3>
                        <h6 class="info-place-text">DKI Jakarta</h6>
                        <p class="info-sub-text">Central Park, Jl. Letjen S. Parman No.28, Tj. Duren Sel., Kec. Grogol petamburan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11470</p>
                        <h3 class="info-subheading-text">Location Description</h3>
                        <p class="info-sub-text">CGV Central Park</p>
                        <div class="google-map-link"><a class="Location__StyledAnchor-hveuoR acHWG Anchor__Anchor-goxHTO bxuGhH" href="https://www.google.com/maps/place/San+Jose+Civic/@37.3305926,-121.8896374,19.43z/data=!3m1!5s0x808fccbab9db63c7:0xb8099f9c7c2c0280!4m5!3m4!1s0x808fccbaba87c049:0x5c7261fe52871edf!8m2!3d37.3308292!4d-121.8897476" target="_blank" rel="noopener noreferrer">View in Google Map</a></div>
                        <div class="col-md-12">
                            <div id="map-container-google" class="z-depth-1-half map-container-2">
                            <iframe src="https://maps.google.com/maps?q=cgv%20central%20park&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                              style="border:0" allowfullscreen></iframe>
                          </div>
                        </div>
                        <hr class="divider-main">
                        <!-- schedules for show -->
                        <h3 class="info-subheading-text">Schedules</h3>
                        <div class="row">
                            <div class="col" id="info-date">
                                <h6 class="info-place-text">Saturday, 1.01.2022 - Saturday, 22.01.2022 </h6>
                            </div>
                            <div class="col" id="info-time">
                                <h6 class="info-sub-text">10:50 AM - Finish</h6>
                                <h6 class="info-sub-text">12:00 PM - Finish</h6>
                                <h6 class="info-sub-text">14:50 PM - Finish</h6>
                                <h6 class="info-sub-text">17:40 PM - Finish</h6>
                                <h6 class="info-sub-text">20:30 PM - Finish</h6>
                            </div>
                        </div>
                        <hr class="divider-main">
                        <!-- creator/artist/etc. -->
                        <h3 class="info-subheading-text">Creator</h3>
                        <div class="row">
                            <div class="col" id="logo">
                                <img src="../img/ayakokono.jpg" alt="Placeholder..." class="img-fluid" id="creator-image">
                            </div>
                            <div class="col" id="info-creator">
                                <h4 class="info-subheading-text">Ayako Kōno</h6>
                                <p class="info-sub-text">Ayako Kōno is known as an Director, Storyboard Artist, Second Unit Director, Actor, Assistant Director, and Opening/Ending Animation. She has worked on many popular anime such as Your Lie in April, Gate, Love Live!, Ace Attorney, and Sword Art Online Progressive: Aria of a Starless Night.</p>
                            </div>
                        </div>
                        <!-- disclaimer -->
                        <div class="row" id="info-disclaimer">
                            <i data-feather="alert-circle" style="color: #ff1c1c"></i>
                        <div class="col" id="info-disclaimer-text">
                            <p class="info-sub-text">Photos, description, location, and schedules are posted by the organizer. ShowFinder is not responsible for any inaccuracy</p>
                        </div>
                    </div>
                        <hr class="divider-invisible">
                    </div> 
                </div>
            </div>

            <!-- feathericons -->
            <script>
            feather.replace()
            </script>
    </body>
</html>