<!DOCTYPE html>
<html>
    <head>
        <title>Sports | ShowFinder</title>
        <%- include('../../partials/_head.ejs') %>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <%- include('../../partials/_nav.ejs') %>
        </nav>

            <!-- title -->
            <div class="container-fluid padding">
                <div class="row welcome text-center">
                    <div class="col-12">
                        <h1 class="display-3">Sports</h1>
                    </div>
                    <hr class="divider1">    
                </div>
            </div>

            <hr class="divider1">

            <!-- Main -->
            <div class="container-fluid padding">
                <div class="row padding px-5">
                    <div class="col-md">
                        <div class="card mb-3">
                            <div class="card-header">
                                <span class="text-dark">Featured</span>
                            </div>
                            <a href="/events/united-v-psg">
                                <img class="card-img-top" src="../img/poster-bola.png">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">Manchester United VS Paris Saint-Germain</h4>
                                <p class="card-text">World Soccer League</p>
                                <a href="/events/united-v-psg" class="btn btn-outline-secondary">Buy Tickets</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                <span class="text-dark">Top Seller</span>
                            </div>
                            <a href="/events/nba-warriors-v-lakers">
                                <img class="card-img-top" src="../img/Poster_NBA.png">
                            </a>
                            
                            <div class="card-body">
                                <h4 class="card-title">Warriors VS Lakers</h4>
                                <p class="card-text">NBA</p>
                                <a href="/events/nba-warriors-v-lakers" class="btn btn-outline-secondary">Buy Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="divider1">

            <!-- pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                        <i class="feather-20" data-feather="chevrons-left"></i>
                    </a>
                  </li>
                  <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                  <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="feather-20" data-feather="chevrons-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>

            <!-- footer -->
            <footer>
                <%- include('../../partials/_footer.ejs') %>
            </footer>
            

            <!-- feathericons -->
            <script>
            feather.replace()
            </script>
    </body>
</html>