<!DOCTYPE html>
<html>
    <head>
        <title>Payment Method | ShowFinder</title>
        <%- include('../../partials/_head.ejs') %>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <%- include('../../partials/_nav.ejs') %>
        </nav>

        <!-- Modal/popup for completed transaction -->
        <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="purchaseModalLabel">Transaction successful!</h5>
                    </div>
                    <div class="modal-body">
                        <p>Thank you for your purchase!</p>
                        <p>Digital tickets will be sent to your email and physical tickets to your home address max. 14 working days from purchase date. Contact cust. service for any issues with tickets.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="../index.html" class="btn btn-secondary">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>

            <!-- feathericons -->
            <script>
            feather.replace()
            </script>
            <script src="/js/payment-complete.js"></script>
    </body>
</html>