@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

.invisible {
    display: none;
}

.navbar {
    position: fixed;
    padding: .8rem 1rem;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-nav li {
    padding-right: 20px;
}

.navlink {
    font-size: 1.1em !important;
}

.navbar-brand {
    font-size: 21px !important;
    font-weight: 500;
}

#abouttext {
    padding-left: 0;
}

#sticky-sidebar {
    padding-right: 8vw;
    order: 2;
}

.info-sidebar-title {
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.flex-column {
    padding-top: 6vw;
    margin-right: 2vw;
}

#info-main {
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    order: 1;
}

#info-type {
    font-size: 1em;
    font-weight: 400;
    color: royalblue;
    padding-bottom: 0em;
    padding-left: 3px; /* fix weird alignment issue */
}

.info-main-text {
    text-align: justify;
}

#info-title-text {
    padding-top: -4em;
    padding-bottom: 12px;
    margin-top: -0.4em;
}

#info-poster-main-img {
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    border-radius: 12px;
}

.info-subheading-text {
    font-weight: 600;
    padding-bottom: 0.3em;
}

.info-place-text {
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.info-sub-text {
    font-weight: 450;
    color: grey;
    text-align: justify;
}

#price-text {
    font-weight: 200;
    color: grey;
    font-size: 15px;
}

#price-amount {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    color: crimson;
    font-size: 25px;
}

.divider-invisible {
    border-color: white;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

.divider-main {
    width: 100%;
}

.divider-sidebar {
    width: 29vw;
}

#logo {
    position: flex;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}

#creator-image {
    object-fit: contain;
    width: 400px;
    height: 300px;
}

#info-disclaimer {
    padding-top: 2vw;
}

.tickets-title {
    padding-top: 3vw;
    padding-bottom: 1vw;
}

.tickets-batch {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.individual-tickets {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.google-map-link {
    padding-bottom: 10px;
}

.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }

  .map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  } 

/*mobile only*/
@media only screen and (max-width: 768px) {
    .flex-column {
        padding-top: 15vw;
    }

    .tickets-title {
        padding-top: 4vw;
        padding-bottom: 1vw;
    }
}

@media only screen and (max-width: 421px) {
    .flex-column {
        padding-top: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        width: 90vw;
        position: absolute;
        padding-bottom: 10vw;
        margin-right: 100px;
    }

    .divider-sidebar {
        width: 100%;
    }

    .tickets-title {
        padding-top: 6vw;
        padding-bottom: 1vw;
    }

    #info-poster-main-img {
        width: 100%;
        height: 130vw;
        border-radius: 12px;
    }
}