<!DOCTYPE html>
<html>
    <head>
        <title>About | ShowFinder</title>
        <%- include('../partials/_head.ejs') %>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <%- include('../partials/_nav.ejs') %>
        </nav>

            <!-- heading -->
            <div class="container-fluid about-heading mx-auto text-center">
                <div id="display-about-logo">
                    <h1 class="display-2">ShowFinder</h1>
                </div>
            </div>
            
            <!-- main content -->
            <div class="container-fluid about-main">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="display-4 text-center">ShowFinder</h2>
                        <p class="lead text-center">Connecting like-minded people.</p>
                    </div>
                </div>
            </div>

            <hr class="divider-dark">
            <!-- additional -->
            <div class="container-fluid about-additional">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="display-4 text-center">For <span>Communities.</span></h2>
                        <h2 class="display-4 text-center">For <span>Creators.</span></h2>
                        <h2 class="display-4 text-center">For <span>Artists.</span></h2>
                        <h2 class="display-4 text-center">For <span>Brands.</span></h2>
                        <p class="lead text-center" style="padding-top: 20px;">ShowFinder.</p>
                    </div>
                </div>
            </div>

            <!-- contact icons -->
            <div class="container-fluid padding about-team">
                <div class="row padding">
                    <div class="col-sm-12">
                        <h1 class="display-3 text-center">Contact Us</h2>
                    </div>
                </div>
                <!-- logos -->
                <div class="row padding socials">
                    <a href="#" class="fa fa-twitter fa-3x"></a>
                    <a href="#" class="fa fa-facebook fa-3x"></a>
                    <a href="#" class="fa fa-google fa-3x"></a>
                    <a href="#" class="fa fa-linkedin fa-3x"></a>
                    <a href="#" class="fa fa-youtube fa-3x"></a>
                    <a href="#" class="fa fa-instagram fa-3x"></a>
                    <a href="#" class="fa fa-snapchat-ghost fa-3x"></a>
                    <a href="#" class="fa fa-reddit fa-3x"></a>
                    <a href="#" class="fa fa-rss fa-3x"></a>
                </div>
                <!-- copyright text-->
                <div class="row padding copyright text">
                    <div class="col-sm-12">
                        <p class="text-center" style="padding-top: 3vw;">© 2022 ShowFinder. All rights reserved.</p>
                    </div>
                </div>
            </div>
                        

            <!-- feathericons -->
            <script>
            feather.replace()
            </script>
    </body>
</html>