<!DOCTYPE html>
<html>
    <head>
        <title>ShowFinder - Shop Online Tickets!</title>
        <%- include('../partials/_head.ejs') %>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <%- include('../partials/_nav.ejs') %>
        </nav>

        <!-- Image slide -->
        <div id="slides" class="carousel slide" data-ride="carousel">
            <!-- carousel indicators cause mobile view to be weird
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
            </ul>
            -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/events/markiplier-show-live">
                        <img src="img/ticket-1.jpg">
                    </a>
                    <div class="carousel-caption">
                        <h1 class="display-2">Markiplier Live</h1>
                        <h3 class="carousel-caption-h3">Markiplier is coming to your town!</h3>
                        <a href="/events/markiplier-show-live" class="btn btn-primary btn-lg">Buy Tickets</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="/events/connor-talkshow-live">
                        <img src="img/ticket-2.png">
                    </a>
                    <div class="carousel-caption">
                        <h1 class="display-2">Connor Talkshow Live</h1>
                        <h3 class="carousel-caption-h3">No cutscenes    </h3>
                        <a href="/events/connor-talkshow-live" class="btn btn-primary btn-lg">Buy Tickets</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="/events/rick-astley-concert">
                        <img src="img/ticket-3.png">
                    </a>
                    <div class="carousel-caption">
                        <h1 class="display-2">Rick Astley Concert</h1>
                        <h3 class="carousel-caption-h3">Rick is ready to roll you.</h3>
                        <a href="/events/rick-astley-concert" class="btn btn-primary btn-lg">Buy Tickets</a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- text -->
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">Upcoming Events</h1>
                </div>
                <hr>
            </div>
        </div>

        <!-- cards -->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <a href="/events/markiplier-show-live">
                            <img class="card-img-top" src="img/poster-1.png">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">The Sound of Mark</h4>
                            <p class="card-text">Markiplier Show</p>
                            <a href="/events/markiplier-show-live" class="btn btn-outline-secondary">Buy Tickets</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card mb-3">
                        <a href="/events/connor-talkshow-live">
                            <img class="card-img-top" src="img/poster-2.png">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Connor Talkshow Live at Fremont</h4>
                            <p class="card-text">Connor Talkshow</p>
                            <a href="/events/connor-talkshow-live" class="btn btn-outline-secondary">Buy Tickets</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <a href="/events/rick-astley-concert">
                            <img class="card-img-top" src="img/poster-3.png">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Rick Concert</h4>
                            <p class="card-text">Rick Astley</p>
                            <a href="/events/rick-astley-concert" class="btn btn-outline-secondary">Buy Tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- text -->
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">More Shows</h1>
                </div>
                <hr>
            </div>
        </div>

        <!-- More shows -->
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-lg-3">
                    <a href="/events/jimmy-on-tour" class="text">Jimmy On Tour</a><br>
                    <span>Jimmy O. Yang</span><br>
                    <p class="more-place">Torpedo Theater, Amsterdam, NL</p>
                </div>
                <div class="col-lg-3">
                    <a href="/events/nba-warriors-v-lakers" class="text">WARRIORS VS LAKERS</a><br>
                    <span>NBA</span><br>
                    <p class="more-place">Madison Square Garden, New York City, US</p>
                </div>
                <div class="col-lg-3">
                    <a href="/events/radit-sucrd" class="text">SUCRD</a><br>
                    <span>Raditya Dika</span><br>
                    <p class="more-place">Usmar Ismail Hall, DKI Jakarta, ID</p>
                </div>
                <div class="col-lg-3">
                    <a href="/events/yoasobi-winter-music-festival" class="text">Winter Music Festival</a><br>
                    <span>Yoasobi</span><br>
                    <p class="more-place">Tokyo Garden Theater, Tokyo, JP</p>
                </div>
                <hr class="divider2">
                <div class="col-lg-3">
                    <a href="/events/mlbb-rrq-vs-gpx" class="text">RRQ VS GPX</a><br>
                    <span>MDL Season 7</span><br>
                    <p class="more-place">JX International Convention Exhibition, Surabaya, ID</p>
                </div>
                <div class="col-lg-3">
                    <a href="/events/sao-progressive-movie" class="text">SAO Progressive: Aria of a Starless Night</a><br>
                    <span>Ayako Kōno</span><br>
                    <p class="more-place">CGV Central Park, DKI Jakarta, ID</p>
                </div>
                <div class="col-lg-3">
                    <a href="/events/valorant-twitch-rivals" class="text">Twitch Rivals: Valorant</a><br>
                    <span>Twitch</span><br>
                    <p class="more-place">Nord Villepinte Exhibition Center , Paris, FR</p>
                </div>
                <div class="col-lg-3">
                    <a href="/events/wwe-rock-v-cena" class="text">The Rock VS John Cena</a><br>
                    <span>WWE</span><br>
                    <p class="more-place">Amway Center, Orlando, US</p>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer>
            <%- include('../partials/_footer.ejs') %>
        </footer>

        <!-- feathericons -->
        <script>
            feather.replace()
        </script>
    </body>
</html>