<!DOCTYPE html>
<html>
    <head>
        <title>Search | ShowFinder</title>
        <%- include('../partials/_head.ejs') %>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <%- include('../partials/_nav.ejs') %>
        </nav>

            <!-- title -->
            <div class="container-fluid padding">
                <div class="row welcome text-center">
                    <div class="col-12">
                        <h1 class="display-4">ShowFinder</h1>
                    </div>
                    <hr class="divider1">
                </div>
            </div>

            <hr class="divider1">

            <!-- Main --> 
            <div class="container">
                <ul class="list-group" id="search-results">
                    <li>
                        <a href="/events/united-v-psg">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Manchester United VS Paris Saint-Germain</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Manchester City is going head to head with Paris Saint-Germain starting on 12 Nov 2025 at 9:00 PM at Etihad Stadium, Manchester city, England. The match is a part of the UEFA Champions League, Group A</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/connor-talkshow-live">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Connor Talkshow</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Co-host of 'Trash Taste Podcast' comes at you live with a solo talkshow! Book now for a fun night of good music, good fun, and marginally better taste.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/jimmy-on-tour">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Jimmy On Tour</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Jimmy’s debut comedy special GOOD DEAL is now streaming on Amazon Prime and has since become some of the most viewed standup comedy clips on social media. He is now touring around the world, gearing up for another special.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/markiplier-show-live">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Markiplier Show</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Markiplier is coming to your town! Markiplier Show: Created by Mark Fischbach. Mark plays video games and cracks some jokes.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/mlbb-rrq-vs-gpx">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>RRQ VS GPX</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">MDL is an official tournament held by Moonton.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/nba-warriors-v-lakers">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Warriors VS Lakers</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Golden State Warriors - Los Angeles Lakers game starts on Oct 10, 2024 at 4:00 PM.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/radit-sucrd">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>SUCRD</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Dika Angkasaputra Moerwani Nasution, known as Raditya Dika, is an Indonesian author, actor, movie director, and social media personality.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/rick-astley-concert">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Rick Concert</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Richard Paul Astley is an English singer, songwriter and radio personality, who has been active in music for several decades.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/sao-progressive-movie">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Sword Art Online Progressive: Aria of a Starless Night</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">SAO Progressive depicts the story of the encounter between Kirito and Asuna, covering the events on Aincrad's first floor, in particular Asuna's initial struggle to cope with the realities of her new world. Excelling socially and academically, Asuna Yuuki is on track to ace...</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/valorant-twitch-rivals">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Twitch Rivals: Valorant</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Vegas. Barcelona. Amsterdam. Now, the challenge heads to Paris. Streamers team up to throw down in Twitch Rivals: Valorant. Live from @TwitchCon - Sun, Oct 9 at 01:00pm CET at Twitch Rivals Arena.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/wwe-rock-v-cena">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>The Rock VS John Cena</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">World Wrestling Entertainment, Inc., commonly shortened to its trade name WWE, is an American professional wrestling promotion.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/events/yoasobi-winter-music-festival">
                            <div class="container border">
                                <div class="col">
                                    <div class="row">
                                        <h5>Winter Music Festival ft. Yoasobi</h5>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="text-muted">Yoasobi is a Japanese music superduo formed by Sony Music Entertainment Japan, composed of Vocaloid producer Ayase, and singer-songwriter Ikura.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- emmpty result -->
            <div class="container emptyText displayEmpty">
                <h1 class="display-2 text-center">Nothing here...</h1>
                <p class="lead text-center">...check for typos, or maybe try searching for another show?</p>
            </div>

            <!-- footer -->
            <footer>
                <%- include('../partials/_footer.ejs') %>
            </footer>
            

            <!-- feathericons -->
            <script>
            feather.replace()
            </script>
            <script src="../../public/js/search.js"></script>
    </body>
</html>